.reasons {
    &__description {
        margin: 50px auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    &__benefits {
        width: 390px;
    }
    &__icon {
        margin-bottom: 34px;
    }
    &__subheader {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
    }
    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        span {
            font-weight: 600;
            color: $main-color;
        }
    }
}